<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
img{
    margin-left: 10px;
    margin-top: 10px;
    width: 50px;
    border-radius: 50%;
}

body{
    background-color: #B0D9B1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.9);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Conten{
    margin-top: 50px;
    color: #333;
}

h1{
    text-align: center;
}
</style>
</head>
<body>

<ul>
    <li><img src="Sultan Logo.jpg" alt="tes" onerror="alert('Gambar tidak dapat dimuat.');"></li>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

</body>
<div class="Conten">


<h1>Perkenalkan</h1>

<p> Nama Saya Sultan Daffa Muzafar <br>
Saya tinggal di daerah Rancabungur
</p>

 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ducimus harum, cumque quia adipisci repudiandae voluptatum soluta nulla eum deleniti. Delectus fugiat sunt aliquid et molestiae facere asperiores esse id.
 Autem hic porro vitae sit modi animi similique incidunt mollitia minus doloremque? Libero quae ea consectetur labore praesentium necessitatibus voluptas nam, ab unde laboriosam? Ab dicta excepturi recusandae quos perspiciatis?
 Sequi quibusdam mollitia dignissimos minima repellat eius ipsa expedita magnam laborum distinctio sit rerum rem voluptas quo nemo nisi quam enim, non corrupti iusto voluptatum iste ipsam placeat! Quis, explicabo!
 Sit quia tenetur, recusandae placeat illum explicabo distinctio eveniet cupiditate natus dolor at enim error a possimus eum porro ad ducimus molestiae odit amet iusto, unde nostrum eligendi temporibus. Qui!
 Repellendus aperiam quasi quis earum aut. Quasi cupiditate illo rerum, fugiat alias architecto ea repudiandae sapiente qui eveniet sit nemo minus debitis esse magni dolor iusto reprehenderit, veritatis minima quisquam.
 Debitis cum animi eveniet ducimus dolor, magnam maiores. Quaerat iste dolores dolore id ratione. Quia neque necessitatibus sunt architecto ipsam, molestiae veritatis voluptatum, minima ut aperiam dolores, maiores non nesciunt!
 Cum nam, dicta vitae voluptatum aperiam optio vero maiores magnam. Soluta, sequi quibusdam quia et odio laborum mollitia! Eveniet facilis obcaecati recusandae cumque maiores eum fuga a numquam debitis enim!
 Ab officiis officia quia esse saepe eius, molestiae, ad molestias quibusdam sed, beatae illo! Debitis pariatur magnam id vero aspernatur non! Maxime numquam omnis ducimus sunt, at reprehenderit laborum explicabo?
 Possimus earum nostrum totam, omnis alias id tempora quibusdam accusantium harum! A distinctio esse nulla quaerat eligendi. Corporis ullam eligendi quo. Cumque provident alias tenetur vero veritatis, voluptatem natus quas.
 Expedita officiis aperiam labore eos doloremque dolor ullam sequi quisquam ut est neque quibusdam odit animi, odio aut! Laudantium minima earum ex soluta eos reiciendis porro fugiat facere ipsa laborum.</p>

 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ducimus harum, cumque quia adipisci repudiandae voluptatum soluta nulla eum deleniti. Delectus fugiat sunt aliquid et molestiae facere asperiores esse id.
 Autem hic porro vitae sit modi animi similique incidunt mollitia minus doloremque? Libero quae ea consectetur labore praesentium necessitatibus voluptas nam, ab unde laboriosam? Ab dicta excepturi recusandae quos perspiciatis?
 Sequi quibusdam mollitia dignissimos minima repellat eius ipsa expedita magnam laborum distinctio sit rerum rem voluptas quo nemo nisi quam enim, non corrupti iusto voluptatum iste ipsam placeat! Quis, explicabo!
 Sit quia tenetur, recusandae placeat illum explicabo distinctio eveniet cupiditate natus dolor at enim error a possimus eum porro ad ducimus molestiae odit amet iusto, unde nostrum eligendi temporibus. Qui!
 Repellendus aperiam quasi quis earum aut. Quasi cupiditate illo rerum, fugiat alias architecto ea repudiandae sapiente qui eveniet sit nemo minus debitis esse magni dolor iusto reprehenderit, veritatis minima quisquam.
 Debitis cum animi eveniet ducimus dolor, magnam maiores. Quaerat iste dolores dolore id ratione. Quia neque necessitatibus sunt architecto ipsam, molestiae veritatis voluptatum, minima ut aperiam dolores, maiores non nesciunt!
 Cum nam, dicta vitae voluptatum aperiam optio vero maiores magnam. Soluta, sequi quibusdam quia et odio laborum mollitia! Eveniet facilis obcaecati recusandae cumque maiores eum fuga a numquam debitis enim!
 Ab officiis officia quia esse saepe eius, molestiae, ad molestias quibusdam sed, beatae illo! Debitis pariatur magnam id vero aspernatur non! Maxime numquam omnis ducimus sunt, at reprehenderit laborum explicabo?
 Possimus earum nostrum totam, omnis alias id tempora quibusdam accusantium harum! A distinctio esse nulla quaerat eligendi. Corporis ullam eligendi quo. Cumque provident alias tenetur vero veritatis, voluptatem natus quas.
 Expedita officiis aperiam labore eos doloremque dolor ullam sequi quisquam ut est neque quibusdam odit animi, odio aut! Laudantium minima earum ex soluta eos reiciendis porro fugiat facere ipsa laborum.</p>
</div>
</body>
</html>
